@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive; */

/* 가로스크롤 없애기 */
html, body { overflow-x: hidden;}
/* position:fixed와 absolute를 적용하고 width를 따로 주지 않으면,
기본 넓이는 자식 요소에 맞춰짐 */
/* 구조는 가장 바깥쪽 박스로 잡는다!! */
h1 { position: fixed; top: 50px; left: 50px; z-index: 9;}
h1 img { width: 200px;}
#nav { position: fixed; left: 0; top: 50%; transform: translateY(-50%); z-index: 9;}
#nav .depth1 { width: 200px;} 
#nav .depth1 li a { display: block; font-size: 14px; color: black; text-align: right; border-top: 1px solid #111; height: 60px; font-family: 'Righteous', cursive; padding-top: 5px; transition: all .5s;}

#nav .depth1 li:nth-child(1) a:hover { font-size: 24px; color: #d4164c; border-color: #d4164c;}
#nav .depth1 li:nth-child(1).on a{ font-size: 24px; color: #d4164c; border-color: #d4164c;}
#nav .depth1 li:nth-child(2) a:hover { font-size: 24px; color: white; border-color: white;}
#nav .depth1 li:nth-child(2).on a{ font-size: 24px; color: white; border-color: white;}
#nav .depth1 li:nth-child(3) a:hover { font-size: 24px; color: #ffec6a; border-color: #ffec6a;}
#nav .depth1 li:nth-child(3).on a{ font-size: 24px; color: #ffec6a; border-color: #ffec6a;}
#nav .depth1 li:nth-child(4) a:hover { font-size: 24px; color: #005a89; border-color: #005a89;}
#nav .depth1 li:nth-child(4).on a{ font-size: 24px; color: #005a89; border-color: #005a89;}

#sns { position: fixed; top: 40px; right: 50px; z-index: 9;}
#sns a { display: inline-block; font-size: 25px; color: rgba(0, 0, 0, .5); margin-left: 15px; transition:  all .5s;}
#sns a:hover {transform: scale(1.5); color: rgba(0, 0, 0, 1);}
#sns a:nth-child(4) { display: inline-block; transform: rotate(135deg); scale: .9;}

/* 화면 줄여도 똑같이 나오게 */
#wrap .section { width: 100vw; height: 100vh; background-position: right center; background-size: cover; position: relative; overflow: hidden;}
/* background가 아닌 background-image로 써야 위에서 background 속성 입력한게 적용됨 */
#wrap #sect1 span,
#wrap #sect4 span { color: #111;}
#wrap #sect1 { background-image: url(../img/bg1.jpg);}
#wrap #sect2 { background-image: url(../img/bg2.jpg);}
#wrap #sect3 { background-image: url(../img/bg3.jpg);}
#wrap #sect4 { background-image: url(../img/bg4.jpg);}

#wrap .article { position: absolute; top:46%; left: 300px; z-index: 10;}
#wrap .article p { font-family: 'Righteous', cursive; font-size: 50px; letter-spacing: 2px;}
#wrap .article span { font-size: 16px; width: 500px; display: block; color: white; line-height: 1.2;}
#wrap #sect1 p { color: #d4164c;}
#wrap #sect2 p { color: white;}
#wrap #sect3 p { color: #ffec6a;}
#wrap #sect4 p { color: #005a89;}


#sect1 .p11 { position: absolute; bottom: 20px; right: 20px;}
#sect1 .p12 { position: absolute; bottom: -40px; right: 130px;}
#sect1 .p12 { position: absolute; bottom: -40px; right: 130px;}

#sect2 .p21 { position: absolute; bottom: -480px; right: -180px;}
#sect2 .p22 { position: absolute; bottom: -40px; right: 130px;}

#sect3 .p31 { position: absolute; bottom: 30px; right: 180px;}
#sect3 .p32 { position: absolute; bottom: -270px; right: 110px;}
#sect3 .p33 { position: absolute; bottom: -130px; right: -70px;}

#sect4 .p41 { position: absolute; bottom: -120px; right: 20px;}
#sect4 .p42 { position: absolute; bottom: -180px; right: 0px;}